[api]
type = api
key = 123456
prefix = nganu
port = 3000
hostLocalIp = 127.0.0.1
hostPublicIp = 127.0.0.1
apiHostName = router.domain.com

[cloudflare]
type = cloudflare
email = email@domain.com
token = xxxxxxxxxxxxx
domain = domain.com

[tc1]
type = tencent
socks5Port = 1080
httpPort = 2080
secretId = xxxxxxxxxx
secretKey = xxxxxxxxxxxx
region = ap-jakarta
instanceId = ins-xxxx

[tc2]
type = tencent
socks5Port = 1081
httpPort = 2081
secretId = xxxxxxxxxxx
secretKey = xxxxxxxxxx
region = ap-jakarta
instanceId = ins-xxxxxxxxxx

[az1]
type = azure
socks5Port = 1083
httpPort = 2083
clientId = xxxx-xxxxx-xxxxx
clientSecret = xxxx-xxxx_xxxxx
tenantId = xxxx-xxxxx-xxxxx
subscriptionId = xxxx-xxxxx-xxxxx
resourceGroupName = iprotate
publicIpName = iprotate-ip
ipConfigName = ipconfig1
nicName = iprotatexx
vmName = iprotate-vm

[aws1]
type = aws
socks5Port = 1082
httpPort = 2082
accessKey = xxxxxxxxx
secretKey = xxxxxxxxxxx
instanceId = i-xxxxxxxxxxxx
region = us-east-1
